    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Drew Warren</h2>
              <br/>
                <p>As a candidate for a Master's in robotics, I am excited to be part of the significant research and projects at Northwestern University. My areas of interest include control systems, path planning, and robotic manipulation.</p>
                <p>I received my bachelor's degree in mechanical engineering, along with a minor in Italian, from Brigham Young University in April 2017. During my time there, I developed an interest in robotics through the BYU mechatronics club, for which I volunteered as president for one year, and through various projects, including the University Rover Challenge.</p>
                <p>In my free time, I enjoy spending time with my wife and baby girl, reading, working on personal mechatronics projects, and hiking. I hope that my time in the MSR program at Northwestern will better enable me to contribute to the ever-evolving field of robotics and prepare me for the challenging tasks presented in industry.</p>
               <br/>
            </div>
        </div>
    </section>
