    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Drew Warren</h2>
              <br/>
                <p>Drew is excited to be part of the ssignificant research and projects at NorthwesternUniversity as he pursues his master's degree in robotics.</p>
                <p>He received his bachelor's degree in mechanical engineering, along with a minor in Italian, from Brigham Young University in April 2017. During his time there, he developed his interest in robotics through verious projects, including a ping pong ball shooting robot, a Power Wheels car upgrade for a child with special needs, and the University Mars Rover challenge. He helped in his team taking fourth place in the competition against teams from all over the world.</p>
                <p>In his free time, Drew enjoys spending time with his family, reading, working on personal projects, and hiking. He hopes that his time in the MSR program at Northwestern will better enable im to contribute to the ever-evolving field of robotics.</p>
                <br/>
              </div>
        </div>
    </section>
