---
layout: main
---

<style>
.project-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url({{ site.baseurl }}/img/projects/{{ page.img }}) no-repeat center center;
    background-size: cover;
}

iframe {
    padding-top: 20px;
}

</style>

<div class="project-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="project">
	<div class="contact-content">
        <div class="container">
            <div class="row">
            
                <div class="col-md-10 col-md-offset-1">
                    <h3>Summary</h3>
                    {{ page.description }}
                </div>

                <div style="text-align: center;">
                    <iframe width="560" height="315" src="{{ page.video }}" frameborder="0" allow-"autoplay: encrypted-media" allowfullscreen></iframe>
                </div>
                
                <div class="col-md-10 col-md-offset-1">

		            {{ content }}

                </div>
            </div>
	    </div>
    </div>
</div>
